<!DOCTYPE html>
<html>
	<head>
		<title>图像识别OCR</title>
         <link rel="stylesheet" href="/static/css/common.css">
        <script type="text/javascript" src="/static/lib/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/detect.js?v=59" ></script>
    </head>

	<body>
	{% include 'includes/_head.html' %}

	<div class="custom-style">
    	<h3 class="title">图像检测检测</h3>
		<div class="card"  align="center" >
  			<div class="card-body form-horizontal"  align="center" >

				<form>
                  <div id="toolbar" class="cs-querylist">
                        <dl>
                           <dt>识别图片:</dt>
                            <input type="hidden" id="file_base64">
                            <dd class="dd-input-margin-right">
    						<input type="file" id="upload_file" name="image" multiple="multiple" />
                            </dd>
                        </dl>
                        <dl>
                            <dt>检测模型：</dt>
                            <dd><input type="hidden" id="detect_model" name="detect_model" value=""/>
                                <a href="javascript:;" class="detect_model" id="mode_ctpn" onclick="queryModel('ctpn',this.id);">ctpn</a>
                                <a href="javascript:;" class="detect_model" id="model_psenet" onclick="queryModel('psenet',this.id);">psenet</a>
                                <a href="javascript:;" class="detect_model" id="model_plate" onclick="queryModel('plate',this.id);">车牌</a>
                                <a href="javascript:;" class="detect_model" id="model_table"  onclick="queryModel('table',this.id);">表格</a>
                                <a href="javascript:;" class="detect_model" id="model_doc"  onclick="queryModel('doc',this.id);">图像</a>
                            </dd>
                        </dl>
                        <dl>
                            <dt>输出类型：</dt>
                            <dd><input type="hidden" id="output_type" name="output_type" value=""/>
                                <a href="javascript:;" class="output_type" onclick="queryOutput('rect',this);">外接矩形</a>
                                <a href="javascript:;" class="output_type" onclick="queryOutput('para',this);">平行四边形</a>
                                <a href="javascript:;" class="output_type" onclick="queryOutput('poly',this);">多边形</a>
                            </dd>
                        </dl>
                     <div class="tx-r  pdt30">
                        <input type="button" value="识别" id="submit_ocr"  class="btn btn-primary"/>
                     </div>
					</div>
				</form>
			</div>
		</div>
	</div>
    <h3 class="title">识别结果</h3>

    <div align="center">
       {# src="data:image/jpg;base64,{{ result['image'] }}"#}
			<img id="big_image"  width="80%">
    </div>
    <div align="center">
        <table id="small_table" border="1" style="table-layer:fixed;min-width:980px;width:80%;margin: 0 auto;">
          <tr>
              <th width="70%">检测小图</th>
              <th width="30%">坐标</th>
          </tr>
        </table>
    </div>
	</body>

</html>