<!DOCTYPE html>
<html>
	<head>
		<title>图像识别OCR</title>
         <link rel="stylesheet" href="/static/css/common.css?v=1.0">
        <script type="text/javascript" src="/static/lib/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/main.js?v=033"></script>

    </head>

	<body>
	{% include 'includes/_head.html' %}

	<div class="custom-style">
    	<h3 class="title">图像通用识别</h3>
		<div class="card"  align="center" >
  			<div class="card-body form-horizontal"  align="center" >
				<form>
                  <div id="toolbar" class="cs-querylist">
                     <div class="tx-r  pdt30">
                        <input type="button" value="识别" id="submit_ocr"  class="btn btn-primary"/>
                     </div>
					</div>
				</form>
			</div>
		</div>
	</div>
    <div align="center">
        <h3 class="title" id="result_title">识别结果</h3>
        <span align="center" id="request_url"></span>
    </div>

     <div id="idcard_output" style="display: none">
        <div align="center">
            <img id="idcard_image"  width="80%">
        </div>
        <div align="center">
            <table id="idcard_table" border="1" style="table-layer:fixed;min-width:980px;width:80%;margin: 0 auto;">
              <tr>
                  <th width="30%">字段key</th>
                  <th width="70%">字段value</th>
              </tr>
            </table>
        </div>
    </div>
    <div></div>
    <div style="width:80%;margin: 0 auto;">
       <pre  id="result_json">{接口返回结果}</pre>
    </div>

	</body>

</html>